# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Database
instance/

# Flask stuff
.webassets-cache

# Log files
*.log

# Environment variables
.env

# macOS specific
.DS_Store